# --------------------------------------------------------------------------------------------------
# .gitignore for tools.skylink
# --------------------------------------------------------------------------------------------------

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build

# Android res/values/ files.
/**/res/values/config.xml

# Android local gradle config files.
/**/local.gradle
