<?xml version="1.0" encoding="utf-8"?>
<manifest package="sg.com.temasys.skylink.sdk.sampleapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".audio.AudioActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_section1"/>
        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_section3"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".filetransfer.FileTransferActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_section4"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".datatransfer.DataTransferActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_section5"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".multivideos.MultiVideosActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_section6"/>
        <activity
            android:name=".video.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/video"/>

        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings"></activity>

        <activity
            android:name=".screen.ScreenActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/screen"></activity>

        <service
            android:name=".service.ScreenCaptureService"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>